.mdm-main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  /* background-color: var(--color-bg); */
  /* background-color: rgb(8, 103, 138); */
  justify-content: center;
  align-items: center;
}

.webcam-cont {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  /* background-color: rgb(8, 138, 12); */
}

/* .webcam-view {
    object-fit: contain;
  } */

/* video {
    height: 100vh;
  } */

.output-lay,
.lazy-load-view {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.output-lay {
  z-index: 10;
  background-color: pink;
}

/* .output-lay img,
.output-lay canvas {
  width: inherit;
  height: inherit;
} */

.output-lay canvas {
  /* width: 0;
  height: 0; */
  position: absolute;
  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  object-fit: cover;
}

.output-lay .canvas-input {
  z-index: 1;
}

.output-lay .canvas-output {
  z-index: 2;
}

.lazy-load-view {
  z-index: 20;
  background-color: black;
  justify-content: center;
  text-align: center;
}

.progress-icon {
  color: white;
  font-size: 50px;
  display: inline-block;
  position: relative;
}
