.mdm-main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  /* background-color: var(--color-bg); */
  /* background-color: rgb(8, 103, 138); */
  justify-content: center;
  align-items: center;
}

.webcam-cont {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  /* background-color: rgb(8, 138, 12); */
}

/* .webcam-view {
    object-fit: contain;
  } */

/* video {
    height: 100vh;
  } */

.image-frame,
.lazy-load-view {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.image-frame {
  z-index: 10;
  /* background-color: black; */
}

.lazy-load-view {
  z-index: 20;
  background-color: black;
  justify-content: center;
  text-align: center;
}

.progress-icon {
  color: white;
  font-size: 50px;
  display: inline-block;
  position: relative;
}
